.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}

.box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
